html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}

/*HEADER*/

header{
    height: 10%;
    padding: 0 0 5em 0;
}

/*Navigation section*/
nav{
    display: flex;
    position: fixed;
    align-items: center;
    width:100%;
    background-color:#2291ec;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0.3em;
}
ul li a{
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
}
ul li a:hover{
    color: #fccd4e;
    text-decoration: underline;
}
.menu li{
    float: left;
    padding: 1em;
}
.menu li a{
    text-decoration: none;
    transition: 0.5s ease-in;
}


/*CONTENT*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    display: flex;
    margin: 5% 5%;
    text-align: justify; 
    flex-direction: column;
}
article p{
    font-size: 15px;
    margin: 0.2em 0 0.2em 0;
}
h1 {
    color: #2291ec;
    text-align: center;
    margin: 0 0 0.3em;
    font-size: 40px;
}
h2{
    color: #2291ec;
    text-align: center;
    margin: 0 0 0.3em;
    font-size: 30px;
}
h3{
    color: #EC821E;
    text-align: center;
    margin: 0 0 0.5em;
    font-size: 30px;
}
h4{
    color: #2291ec;
    margin: 0.3em 0 0.3em 0;
    font-size: 17px;
}


/*Home*/
.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10% 5% 5% 5%;
}
.home h1{
    animation: colorChange 6s linear infinite alternate;
}
@keyframes colorChange {
    0% { color: #EC821E;}
    25% { color: #dad60a;}
    50% { color: #07aa2a;}
    75% { color: #1eb2c5;}
    100% { color: #2291ec;}

}

/*About*/
.about{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 15% 0 5% 0;
}
h3:hover{
    font-size: 35px;
    transition: font-size 1s;
    transition-delay: 0.1;
    transition-timing-function: ease-in-out;
}


/*Skills*/
.skills{
    padding: 15% 0 5% 0;
}

/*Studies-Expriences*/
.experiences{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5% 0 5% 0;
}
.studies-left{
    flex-direction: column;
    margin: 0.5em;
    padding: 10% 5% 0 5%;
    float: left;
}
.work-right{
    flex-direction: column;
    margin: 0.5em;
    padding: 10% 5% 0 5%;
    float: right;
}

/*More: Languages/Interest/Travels*/
.more{
    display: flex;
    padding: 15% 0 10% 0;
    flex-direction: row;
}
.more section{
    margin: 0.5em;
    padding: 0 5% 0 5%;
    position: center;
}
.content-travels{
    display: grid;
}
.travels-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em;
}




/*FOOTER*/

footer{
    flex-shrink: 0;
    border-top: 1px dashed #000000;
    background: #f1f1f1;
    color: #333;
}
.content-footer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 50px;
}

.bloc{
    width: 25%;
    margin: 0 50px;
}


/*Form*/
.form-style {
    width: 350px;
    padding: 0 1.2em 1em 2em;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style td {
    position: relative;
    right: 2em;
    display: block;
    list-style: none;
    margin: 0 0 1em 0;
  }
  .form-style label{
    margin:0 0 0.3em 0;
    display:block;
    font-weight: bold;
  }
  .form-style .required{
    color:red;
  }
  .form-style input[type=submit], .form-style input[type=reset]{
    background: #4eb5f1;
    padding: 0.8em 1.5em 0.8em 1.5em;
    border: none;
    color: #fff;
  }
  .form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: #3777ac;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }
  .form-style .field-textarea{
    height: 10em;
  }
  .form-style input[type=text], 
  .form-style input[type=email],
  textarea{
    box-sizing: border-box;
    border:0.1em solid #BEBEBE;
    padding: 0.7em;
    outline: none;  
  }
  .form-style .long{
    width: 100%;
  }
  .form-style input[type=text]:focus, 
  .form-style input[type=email]:focus,
  .form-style textarea:focus{
    box-shadow: 0 0 0.8em #88D5E9;
    border: 0.1em solid #88D5E9;
  }
  .error{
    color: #D8000C;
    background-color: #FFBABA;
  }


/*Contacts*/
.footer-form h6,
.footer-contacts h6,
.footer-socialNetwork h6{
    font-size: 25px;
}

.footer-contacts p{
    padding: 0.1em;
}


/*Social Network*/
.socialNetwork{
    position: relative;
    right: 50px;
}
.socialNetwork li{
    list-style-type: none;
    padding: 0.2em 0;
}
.socialNetwork a{
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.socialNetwork a:hover{
    color: rgb(3, 3, 3);
}
.socialNetwork img{
    width: 30px;
    margin: 0.8em 0.8em;
}


/*Media queries*/
@media screen and (max-width: 1200px) {

    .content-footer {
        width: 100%;
        flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 40px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }

}
@media screen and (max-width: 800px) {
    .content-footer {
        width: 100%;
    }
    .bloc {
        width: 300px;
        margin: 30px 40px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
}